@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
}

.cam {
  width: 80%;
  /* margin: auto; */
  /* height: 100%; */
  /* max-width: 100vw; */
  /* max-height: 100vh; */
}

body {
  width: 100%;
  height: 100%;
  background-color: black;
}